<!--
    This page defines the parts of the options page that are not the main
    content, specifically the persistent navigation bar that connects to
    every other page.
-->
<template id="main-view">
  <div uk-height-viewport class="uk-padding-large uk-overflow-hidden">
    <div class="uk-flex uk-flex-center">
      <div class="uk-grid-collapse uk-width-expand">
        <div class="uk-width-expand" id="content">
          <!-- Content will be inflated here-->
        </div>
      </div>
    </div>
  </div>
</template>
